<h2>About Photon Fire & Rescue</h2>

<h3>
	About
</h3>
<p>
	Photon Fire & Rescue is an official addon to the <a href="http://photon.lighting">Photon Lighting Engine</a>. It allows for the addition of new lighting and features specifically targeted to increasing the accuracy of fire and EMS vehicles. This addon requires Photon to operate as it simply builds upon the already existing engine.
</p>
<h3>
	How can I add Photon Fire & Rescue to my server?
</h3>
<p>
	If required, a workshop file may link to the addon in order to operate properly. If it does not, then Photon Fire & Rescue is not required to use Photon. F&R can be added via your server's Workshop collection and is strongly recommended in order to stay up to date.
	If you wish to add custom or unofficial Photon vehicles to your server, you must add them separately, along with any other requirements.
</p>
<h3>
	Can I request a certain engines or x-car be added?
</h3>
<p>
	At this time there are a few Photon Official engines in the works. As for engines/EMS vehicles on the workshop now these can be updated to include the new lighting if their creator wishes.
</p>
