<h2>Credits</h2>
<p>This mod would not be possible if not for the dedication, work and inspiration of dozens of others. If you believe this mod features your work and you are not credited, please <a href="http://steamcommunity.com/id/noble9/">contact me</a>.</p>

<h3>Photon</h3>

<p><a href="http://steamcommunity.com/id/ischmal">Schmal</a> - Creator of the Photon Lighting Engine and helped me along the way through a variety of issues</p>

<p><a href="http://steamcommunity.com/id/thesendest/">TheSenDest</a> - Assisted in the accuracy of FDNY light patterns</p>

<h3>Photon Fire & Rescue light components</h3>

<p>Modeled, textured, and coded by <a href="http://steamcommunity.com/id/noble9/">Noble</a></p>

<h3>Fire engine models</h3>

<p>Originally created by <a href="https://www.flipswitchgames.net/">FlipSwitch Games</a> for EmergeNYC</p>

<p>Rigged and ported by <a href="http://steamcommunity.com/id/MetroHD/">Metro</a></p>

<p>Ripped and retextured by <a href="http://steamcommunity.com/id/noble9/">Noble</a></p>

<h4>Disclaimer</h4>

<p>All third-party assets in this mod as used on a non-commercial basis. Cited assets not authored by me are copyrighted to their respective owners.</p>