<h2>Developer Resources</h2>
<h3>
	Official Component Documentation
</h3>
<p>
	<strong>Federal Signal AeroDynic LED</strong><br/>
	Lightbar commonly used on FDNY engines. Has 24 LEDs and 2 rotators.<br/><br/>
	EMV.Auto code:<br/>
	<code id="pad">
		{<br/>
		&emsp;ID <code id="two">=</code> <code id="four">"Federal Signal AeroDynic FDNY New"</code>,<br/>
		&emsp;Scale <code id="two">=</code> <code id="three">1</code>,<br/>
		&emsp;Pos <code id="two">=</code> Vector( <code id="three">0, 0, 0</code> ),<br/>
		&emsp;Ang <code id="two">=</code> Angle( <code id="three">0, 0, 0</code> )<br/>
		},
	</code><br/><br/>
	Additonal EMV.Auto options: (only needed if changing light colors)<br/>
	<code id="pad">
		&emsp;Color1 <code id="two">=</code> <code id="four">"RED"</code>,<br/>
		&emsp;Color2 <code id="two">=</code> <code id="four">"WHITE"</code>
	</code>
</p><br/>
<p>
	<strong>Federal Signal Vision SLR Split</strong><br/>
	Lightbar similar to the Vision SLR but larger. Has 11 LED rotators. Takedown illumination compatible.<br/><br/>
	EMV.Auto code:<br/>
	<code id="pad">
		{<br/>
		&emsp;ID <code id="two">=</code> <code id="four">"Federal Signal Vision SLR Split"</code>,<br/>
		&emsp;Scale <code id="two">=</code> <code id="three">1</code>,<br/>
		&emsp;Pos <code id="two">=</code> Vector( <code id="three">0, 0, 0</code> ),<br/>
		&emsp;Ang <code id="two">=</code> Angle( <code id="three">0, 0, 0</code> )<br/>
		},
	</code>
</p><br/>
<p>
	<strong>Whelen 600</strong><br/>
	Single white LED.<br/><br/>
	EMV.Auto code:<br/>
	<code id="pad">
		{<br/>
		&emsp;ID <code id="two">=</code> <code id="four">"Whelen 600"</code>,<br/>
		&emsp;Scale <code id="two">=</code> <code id="three">1</code>,<br/>
		&emsp;Pos <code id="two">=</code> Vector( <code id="three">0, 0, 0</code> ),<br/>
		&emsp;Ang <code id="two">=</code> Angle( <code id="three">0, 0, 0</code> )<br/>
		},
	</code><br/><br/>
	Additonal EMV.Auto options:<br/>
	<code id="pad">
		&emsp;Color1 <code id="two">=</code> <code id="four">"WHITE"</code>,<br/>
		&emsp;Phase <code id="two">=</code> <code id="four">"A"</code>,<br/>
		&emsp;Phase <code id="two">=</code> <code id="four">"FDNY"</code>,<br/>
		&emsp;Phase <code id="two">=</code> <code id="four">"FDNY2"</code>,<br/>
		&emsp;Phase <code id="two">=</code> <code id="four">"FDNY3"</code>
	</code>
</p><br/>
<p>
	<strong>Whelen 600 Red</strong><br/>
	Single red LED.<br/><br/>
	EMV.Auto code:<br/>
	<code id="pad">
		{<br/>
		&emsp;ID <code id="two">=</code> <code id="four">"Whelen 600 Red"</code>,<br/>
		&emsp;Scale <code id="two">=</code> <code id="three">1</code>,<br/>
		&emsp;Pos <code id="two">=</code> Vector( <code id="three">0, 0, 0</code> ),<br/>
		&emsp;Ang <code id="two">=</code> Angle( <code id="three">0, 0, 0</code> )<br/>
		},
	</code><br/><br/>
	Additonal EMV.Auto options:<br/>
	<code id="pad">
		&emsp;Color1 <code id="two">=</code> <code id="four">"RED"</code>,<br/>
		&emsp;Phase <code id="two">=</code> <code id="four">"A"</code>,<br/>
		&emsp;Phase <code id="two">=</code> <code id="four">"FDNY"</code>,<br/>
		&emsp;Phase <code id="two">=</code> <code id="four">"FDNY2"</code>,<br/>
		&emsp;Phase <code id="two">=</code> <code id="four">"FDNY3"</code>
	</code>
</p><br/>
<p>
	<strong>Whelen 600 Blue</strong><br/>
	Single blue LED.<br/><br/>
	EMV.Auto code:<br/>
	<code id="pad">
		{<br/>
		&emsp;ID <code id="two">=</code> <code id="four">"Whelen 600 Blue"</code>,<br/>
		&emsp;Scale <code id="two">=</code> <code id="three">1</code>,<br/>
		&emsp;Pos <code id="two">=</code> Vector( <code id="three">0, 0, 0</code> ),<br/>
		&emsp;Ang <code id="two">=</code> Angle( <code id="three">0, 0, 0</code> )<br/>
		},
	</code><br/><br/>
	Additonal EMV.Auto options:<br/>
	<code id="pad">
		&emsp;Color1 <code id="two">=</code> <code id="four">"BLUE"</code>,<br/>
		&emsp;Phase <code id="two">=</code> <code id="four">"A"</code>,<br/>
		&emsp;Phase <code id="two">=</code> <code id="four">"FDNY"</code>,<br/>
		&emsp;Phase <code id="two">=</code> <code id="four">"FDNY2"</code>,<br/>
		&emsp;Phase <code id="two">=</code> <code id="four">"FDNY3"</code>
	</code>
</p><br/>
<p>
	<strong>Whelen 600 Amber</strong><br/>
	Single amber LED.<br/><br/>
	EMV.Auto code:<br/>
	<code id="pad">
		{<br/>
		&emsp;ID <code id="two">=</code> <code id="four">"Whelen 600 Amber"</code>,<br/>
		&emsp;Scale <code id="two">=</code> <code id="three">1</code>,<br/>
		&emsp;Pos <code id="two">=</code> Vector( <code id="three">0, 0, 0</code> ),<br/>
		&emsp;Ang <code id="two">=</code> Angle( <code id="three">0, 0, 0</code> )<br/>
		},
	</code><br/><br/>
	Additonal EMV.Auto options:<br/>
	<code id="pad">
		&emsp;Color1 <code id="two">=</code> <code id="four">"AMBER"</code>,<br/>
		&emsp;Phase <code id="two">=</code> <code id="four">"A"</code>,<br/>
		&emsp;Phase <code id="two">=</code> <code id="four">"FDNY"</code>,<br/>
		&emsp;Phase <code id="two">=</code> <code id="four">"FDNY2"</code>,<br/>
		&emsp;Phase <code id="two">=</code> <code id="four">"FDNY3"</code>
	</code>
</p><br/>
<p>
	<strong>Whelen TIR6</strong><br/>
	Single white LED. Smaller than the Whelen 600.<br/><br/>
	EMV.Auto code:<br/>
	<code id="pad">
		{<br/>
		&emsp;ID <code id="two">=</code> <code id="four">"Whelen TIR6"</code>,<br/>
		&emsp;Scale <code id="two">=</code> <code id="three">1</code>,<br/>
		&emsp;Pos <code id="two">=</code> Vector( <code id="three">0, 0, 0</code> ),<br/>
		&emsp;Ang <code id="two">=</code> Angle( <code id="three">0, 0, 0</code> )<br/>
		},
	</code><br/><br/>
	Additonal EMV.Auto options:<br/>
	<code id="pad">
		&emsp;Color1 <code id="two">=</code> <code id="four">"WHITE"</code>,<br/>
		&emsp;Phase <code id="two">=</code> <code id="four">"A"</code>,<br/>
		&emsp;Phase <code id="two">=</code> <code id="four">"FDNY"</code>,<br/>
		&emsp;Phase <code id="two">=</code> <code id="four">"FDNY2"</code>,<br/>
		&emsp;Phase <code id="two">=</code> <code id="four">"FDNY3"</code>
	</code>
</p><br/>
<p>
	<strong>Whelen TIR6 Red</strong><br/>
	Single red LED. Smaller than the Whelen 600.<br/><br/>
	EMV.Auto code:<br/>
	<code id="pad">
		{<br/>
		&emsp;ID <code id="two">=</code> <code id="four">"Whelen TIR6 Red"</code>,<br/>
		&emsp;Scale <code id="two">=</code> <code id="three">1</code>,<br/>
		&emsp;Pos <code id="two">=</code> Vector( <code id="three">0, 0, 0</code> ),<br/>
		&emsp;Ang <code id="two">=</code> Angle( <code id="three">0, 0, 0</code> )<br/>
		},
	</code><br/><br/>
	Additonal EMV.Auto options:<br/>
	<code id="pad">
		&emsp;Color1 <code id="two">=</code> <code id="four">"RED"</code>,<br/>
		&emsp;Phase <code id="two">=</code> <code id="four">"A"</code>,<br/>
		&emsp;Phase <code id="two">=</code> <code id="four">"FDNY"</code>,<br/>
		&emsp;Phase <code id="two">=</code> <code id="four">"FDNY2"</code>,<br/>
		&emsp;Phase <code id="two">=</code> <code id="four">"FDNY3"</code>
	</code>
</p><br/>
<p>
	<strong>Whelen TIR6 Blue</strong><br/>
	Single blue LED. Smaller than the Whelen 600.<br/><br/>
	EMV.Auto code:<br/>
	<code id="pad">
		{<br/>
		&emsp;ID <code id="two">=</code> <code id="four">"Whelen TIR6 Blue"</code>,<br/>
		&emsp;Scale <code id="two">=</code> <code id="three">1</code>,<br/>
		&emsp;Pos <code id="two">=</code> Vector( <code id="three">0, 0, 0</code> ),<br/>
		&emsp;Ang <code id="two">=</code> Angle( <code id="three">0, 0, 0</code> )<br/>
		},
	</code><br/><br/>
	Additonal EMV.Auto options:<br/>
	<code id="pad">
		&emsp;Color1 <code id="two">=</code> <code id="four">"BLUE"</code>,<br/>
		&emsp;Phase <code id="two">=</code> <code id="four">"A"</code>,<br/>
		&emsp;Phase <code id="two">=</code> <code id="four">"FDNY"</code>,<br/>
		&emsp;Phase <code id="two">=</code> <code id="four">"FDNY2"</code>,<br/>
		&emsp;Phase <code id="two">=</code> <code id="four">"FDNY3"</code>
	</code>
</p><br/>
<p>
	<strong>Whelen TIR6 Amber</strong><br/>
	Single amber LED. Smaller than the Whelen 600.<br/><br/>
	EMV.Auto code:<br/>
	<code id="pad">
		{<br/>
		&emsp;ID <code id="two">=</code> <code id="four">"Whelen TIR6 Amber"</code>,<br/>
		&emsp;Scale <code id="two">=</code> <code id="three">1</code>,<br/>
		&emsp;Pos <code id="two">=</code> Vector( <code id="three">0, 0, 0</code> ),<br/>
		&emsp;Ang <code id="two">=</code> Angle( <code id="three">0, 0, 0</code> )<br/>
		},
	</code><br/><br/>
	Additonal EMV.Auto options:<br/>
	<code id="pad">
		&emsp;Color1 <code id="two">=</code> <code id="four">"AMBER"</code>,<br/>
		&emsp;Phase <code id="two">=</code> <code id="four">"A"</code>,<br/>
		&emsp;Phase <code id="two">=</code> <code id="four">"FDNY"</code>,<br/>
		&emsp;Phase <code id="two">=</code> <code id="four">"FDNY2"</code>,<br/>
		&emsp;Phase <code id="two">=</code> <code id="four">"FDNY3"</code>
	</code>
</p><br/>
<p>
	<strong>FDNY Rear Engine Lightbar</strong><br/>
	Rear lightbar commonly seen on FDNY engines in pairs. Inlcudes both new (no phase and A) and old (phases B and C) flash patterns.<br/><br/>
	EMV.Auto code:<br/>
	<code id="pad">
		{<br/>
		&emsp;ID <code id="two">=</code> <code id="four">"FDNY Rear Lightbar"</code>,<br/>
		&emsp;Scale <code id="two">=</code> <code id="three">1</code>,<br/>
		&emsp;Pos <code id="two">=</code> Vector( <code id="three">0, 0, 0</code> ),<br/>
		&emsp;Ang <code id="two">=</code> Angle( <code id="three">0, 0, 0</code> )<br/>
		},
	</code><br/><br/>
	Additonal EMV.Auto options:<br/>
	<code id="pad">
		&emsp;Color1 <code id="two">=</code> <code id="four">"RED"</code>,<br/>
		&emsp;Color2 <code id="two">=</code> <code id="four">"AMBER"</code>,<br/>
		&emsp;Color3 <code id="two">=</code> <code id="four">"BLUE"</code>,<br/>
		&emsp;Phase <code id="two">=</code> <code id="four">"A"</code>,<br/>
		&emsp;Phase <code id="two">=</code> <code id="four">"B"</code>,<br/>
		&emsp;Phase <code id="two">=</code> <code id="four">"C"</code>
	</code>
</p><br/>
<h3>
	Sprite list
</h3>
<p>A list of sprites added if you'd like to use them in your custom components/vehicles.</p>
<ul><code id="four">
	<li><code id="four">materials/sprites/emv/evm_fedsig_vision_slr_split_illum</code></li>
	<li><code id="four">materials/sprites/emv/emv_whelen_600</code></li>
	<li><code id="four">materials/sprites/emv/emv_whelen_600_brake</code></li>
	<li><code id="four">materials/sprites/emv/emv_whelen_600_brake_sm</code></li>
	<li><code id="four">materials/sprites/emv/emv_whelen_600_flood_circle</code></li>
	<li><code id="four">materials/sprites/emv/emv_whelen_600_headlight</code></li>
	<li><code id="four">materials/sprites/emv/emv_whelen_600_reverse</code></li>
	<li><code id="four">materials/sprites/emv/emv_whelen_600_turn_left</code></li>
	<li><code id="four">materials/sprites/emv/emv_whelen_600_turn_left_sm</code></li>
	<li><code id="four">materials/sprites/emv/emv_whelen_600_turn_right</code></li>
	<li><code id="four">materials/sprites/emv/emv_whelen_600_turn_right_sm</code></li>
	<li><code id="four">materials/sprites/emv/whelen_tir6</code></li></code>
</ul>
