<h2>Using Photon</h2>
<h3>Keys/Controls</h3>
<ul>
	<li><strong>Toggle Emergency Lighting</strong>
		<ul>
			<li>Key: F</li>
			<li><em>Turning off lights also deactivates the siren</em></li>
		</ul>
	</li>
	<li><strong>Toggle Siren</strong>
		<ul>
			<li>Key: R</li>
			<li><em>If the lights are not active, the siren will default to the hightest priority light mode and enable emergency lights.</em></li>
		</ul>
	</li>
	<li><strong>Change Light Pattern</strong>
		<ul>
			<li>Key: Left Alt</li>
		</ul>
	</li>
	<li><strong>Illumination On/Off</strong>
		<ul>
			<li>Key: X</li>
			<li>Short press</li>
			<li><em>New feature, capable vehicles will show "ILLUM" on HUD</em></li>
		</ul>
	</li>
	<li><strong>Illumination Toggle</strong>
		<ul>
			<li>Key: X</li>
			<li>Long press</li>
		</ul>
	</li>
	<li><strong>Traffic Advisor On/Off</strong>
		<ul>
			<li>Key: B</li>
			<li>Short press</li>
		</ul>
	</li>
	<li><strong>Traffic Advisor Toggle Pattern</strong>
		<ul>
			<li>Key: B</li>
			<li>Long press</li>
		</ul>
	</li>
	<li><strong>Change Siren Tone</strong>
		<ul>
			<li>Key: Right-Click</li>
		</ul>
	</li>
	<li><strong>Manual Bullhorn</strong>
		<ul>
			<li>Key: G</li>
		</ul>
	</li>
	<li><strong>Manual Siren</strong>
		<ul>
			<li>Key: T</li>
			<li><em>Will sound the manual tone if it exists, otherwise it will use the wail tone.</em></li>
		</ul>
	</li>
	<li><strong>Blackout</strong>
		<ul>
			<li>Key: H</li>
			<li><em>Disables head and marker lights for stealth work.</em></li>
		</ul>
	</li>
	<li><strong>Signal Left</strong>
		<ul>
			<li>Left-Click + A</li>
		</ul>
	</li>
	<li><strong>Signal Right</strong>
		<ul>
			<li>Left-Click + D</li>
		</ul>
	</li>
	<li><strong>Hazards</strong>
		<ul>
			<li>Left-Click + S</li>
		</ul>
	</li>
</ul>
<h2>Help</h2>
<h3>
	Does Photon support gamemodes like DarkRP?
</h3>
<p>
	<strong>Yes.</strong> While it originally required some code or specialized spawning systems, Photon versions 20 and up will natively integrate into any gamemodes.
</p>
<h3>
	How can I add Photon to my server?
</h3>
<p>
	Photon can either be added via your server's Workshop collection, or you can keep an updated, extracted version, and just do resource.AddWorkshop() to download for clients.
	If you wish to add custom or unofficial Photon vehicles to your server, you must add them separately, along with any other requirements.
</p>
<h3>
	Will Photon be added to _____ car?
</h3>
<p>
	Yes. Photon, however, is still in beta, meaning some fundamental parts of the addon need refinement before the majority of work goes into supporting more cars.
</p>
<h3>
	Can I request a certain police car or x-car be added?
</h3>
<p>
	Yes, the cars being added are largely due to community request.
</p>
