<h2>Credits</h2>
<p>This mod would not be possible if not for the dedication, work and inspiration of dozens of others. If you believe this mod features your work and you are not credited, please email me at <a href="mailto:contact@schmal.me">contact@schmal.me</a></p>

<h3>Sirens</h3>
<p>All sirens were personally ported and modified by me, however they have a variety of origins.</p>
<ul>
	<li><strong>Federal Signal 80K: </strong><a href="http://www.fedsig.com/">Federal Signal Unitrol</a></li>
	<li><strong>Federal Signal 650: </strong><a href="http://www.fedsig.com/">Federal Signal Unitrol</a></li>
	<li><strong>Federal Signal MS4000: </strong><a href="http://www.fedsig.com/">Federal Signal Unitrol</a></li>
	<li><strong>Federal Signal Omega 90: </strong><a href="http://www.fedsig.com/">Federal Signal Unitrol</a></li>
	<li><strong>Federal Signal Rumbler: </strong><a href="https://www.lcpdfr.com/files/file/1494-nypd-ss2000-smart-siren-with-rumbler/">FCV96</a> (modified by <a href="https://twitter.com/boatie91">boat</a>)</li>
	<li><strong>Federal Signal SmartSiren: </strong><a href="http://www.fedsig.com/">Federal Signal Unitrol</a></li>
	<li><strong>Federal Signal TouchMaster: </strong><a href="http://www.fedsig.com/">Federal Signal Unitrol</a></li>
	<li><strong>Federal Signal EQ2B: </strong><a href="http://www.fedsig.com/">Federal Signal Unitrol</a></li>
	<li><strong>Federal Signal PA 300: </strong><a href="http://www.fedsig.com/">Federal Signal Unitrol</a></li>
	<li><strong>Whelen CenCom: </strong><a href="https://www.lcpdfr.com/files/file/5722-whelen-cencom-siren/">flyer2359</a></li>
	<li><strong>Whelen Alpha: </strong><a href="https://www.lcpdfr.com/files/file/3660-whelen-alpha-siren/">RascarDK</a></li>
	<li><strong>France: </strong><a href="http://facepunch.com/member.php?u=392237">Provided by Corentin196</a></li>
	<li><strong>German: </strong><a href="http://facepunch.com/member.php?u=691072">Provided by MCFreakKuh</a></li>
	<li><strong>German: </strong><a href="http://facepunch.com/member.php?u=691072">Provided by MCFreakKuh</a></li>
</ul>

<h4>Disclaimer</h4>
<p>All third-party assets in this mod as used on a non-commercial basis. Cited assets not authored by me are copyrighted to their respective owners.</p>
<cite>Website copyright Alex Smith. Code is licensed under Creative Commons Non-Commercial Attribution. Siren tones are edited for Photon and copyright of their respective owners.</cite>
