<h2>Developer Resources</h2>
<h3>Build</h3>
<h3>Debug Mode Reference</h3>
<ul>
	<li>
		<strong>Toggle debug mode:</strong>
		<code>photon_debug</code>
		<ul>
			<li>Toggles build mode</li>
		</ul>
	</li>
	<li>
		<strong>Toggle debug mode:</strong>
		<code>photon_debugtarget ELS/REG</code>
		<ul>
			<li>Use 'ELS' for modifying emergency light positions</li>
			<li>Use 'REG' for modifying regular light positions</li>
			<li><i>This will 'target' the vehicle you are currently driving</i></li>
		</ul>
	</li>
	<li>
		<strong>Change light index:</strong>
		<code>+/- keys on number pad</code>
		<ul>
			<li>+ will move index up</li>
			<li>- will move index down</li>
		</ul>
	</li>
	<li>
		<strong>Copy vector/angle numbers:</strong>
		<code>* on number pad</code>
		<ul>
			<li><i>Will copy a valid Lua chunk for the Vector() and Angle() parameters of the light</i></li>
		</ul>
	</li>
	<li>
		<strong>Toggle vector/angle mode</strong>
		<code>/ on number pad</code>
		<ul>
			<li><i>Alternates adjusting the vector or angle</i></li>
		</ul>
	</li>
	<li>
		<strong>Increase Increments</strong>
		<code>Shift key</code>
		<ul>
			<li><i>Increases adjustment intervals while held down</i></li>
		</ul>
	</li>
	<li>
		<strong>Decrease Increments</strong>
		<code>Alt key</code>
		<ul>
			<li><i>Decreases adjustment intervals while held down</i></li>
		</ul>
	</li>
	<li>
		<strong>Adjust Vector X/Angle Pitch</strong>
		<code>Left/Right Arrow Keys</code>
		<ul>
			<li><i>Remember this is always relative to the car, not how you're looking at it</i></li>
		</ul>
	</li>
	<li>
		<strong>Adjust Vector Y/Angle Yaw</strong>
		<code>Up/Down Arrow Keys</code>
		<ul>
			<li><i>Remember this is always relative to the car, not how you're looking at it</i></li>
		</ul>
	</li>
	<li>
		<strong>Adjust Vector Z/Angle Roll</strong>
		<code>CTRL + Up/Down Arrow Keys</code>
		<ul>
			<li><i>Remember this is always relative to the car, not how you're looking at it</i></li>
		</ul>
	</li>
</ul>
<h2>
	Starting a Photon Car
	<h3>
		An Introduction
	</h3>
	<p>
		Photon is designed to give developers (like yourself) the widest possible range of flexibility in your
		creations. Making cars for Photon
		invovles dealing with a big learning curve, but you have to trust there is a method to the madness, and it will
		eventually make sense.
	</p>
	<p>
		Photon, above all, is designed to allow for creating any car setup you imagine. While its biggest
		'selling-point' is the emergency lighting,
		it also has growing support for general car lighting to add a touch of realism to your server or scene. The
		trade-off with flexibility is
		ease of use. While you can create virtually any kind of lighting setup, it takes patience, practice and
		precision.
	</p>
	<p>
		For all intents and purposes, Photon is still in its infancy. Features are modified and changed all the time
		based on community response
		and evolving Garry's Mod functions. While the structure is unlikely to change for a very long time, more tools
		will be released to make
		this process easier. It's important to note that you do not need coding or Lua experience to make a vehicle.
		What you're creating is data --
		data that Photon processes to create the effects. The only requirement is a basic understand of how everything
		relates.
	</p>
	<h3>
		Setting up your folders
	</h3>
	<p>
		Photon vehicle files need to be in an autorun Lua folder. The best way to do this is by starting in your addons
		folder. If you don't know
		where that is, it will probably be located here:</p>
	<code>C:\Program Files (x86)\Steam\steamapps\common\GarrysMod\garrysmod\addons</code>
	<p>
		In the addons folder, create a new folder and name it whatever you want, such as 'My Photon Vehicle.' Then, in
		the folder,
	</p>
</h2>