<h2>Using Photon</h2>
<h3>Keys/Controls</h3>
<ul>
	<li><strong>Lighting Toggle</strong>
		<ul>
			<li><kbd data-bind="photon_key_primary_toggle">F</kbd></li>
			<li><em>Turning off lights also deactivates the siren</em></li>
		</ul>
	</li>
	<li><strong>Siren Toggle</strong>
		<ul>
			<li><kbd data-bind="photon_key_siren_toggle">R</kbd></li>
			<li><em>If the lights are not active, the siren will default to the hightest priority light mode and enable emergency lights.</em></li>
		</ul>
	</li>
	<li><strong>Lighting Mode</strong>
		<ul>
			<li><kbd data-bind="photon_key_primary_alt">ALT</kbd></li>
		</ul>
	</li>
	<li><strong>Illumination</strong>
		<ul>
			<li>Toggle: <kbd data-bind="photon_key_illum">X</kbd></li>
			<li>Mode Switch: <kbd data-bind="photon_key_illum">X</kbd>🕑</li>
			<li><em>Capable vehicles will show "ILLUM" on HUD</em></li>
		</ul>
	</li>
	<li><strong>Traffic Advisor</strong>
		<ul>
			<li>Toggle: <kbd data-bind="photon_key_auxiliary">B</kbd></li>
			<li>Mode Switch: <kbd data-bind="photon_key_auxiliary">B</kbd>🕑</li>
			<li><em>Capable vehicles will show "AUXILIARY" on HUD</em></li>
		</ul>
	</li>

	<li><strong>Siren Mode</strong>
		<ul>
			<li><kbd data-bind="photon_key_siren_alt">RMB</kbd></li>
		</ul>
	</li>
	<li><strong>Manual Bullhorn</strong>
		<ul>
			<li><kbd data-bind="photon_key_horn">G</kbd></li>
		</ul>
	</li>
	<li><strong>Manual Siren</strong>
		<ul>
			<li><kbd data-bind="photon_key_manual">T</kbd></li>
			<li><em>Will sound the manual tone if it exists, otherwise it will use the wail tone.</em></li>
		</ul>
	</li>
	<li><strong>Blackout</strong>
		<ul>
			<li><kbd data-bind="photon_key_blackout">H</kbd></li>
			<li><em>Disables head and marker lights for stealth work.</em></li>
		</ul>
	</li>
	<li><strong>Turn Signals</strong>
		<ul>
			<li>Left: <kbd data-bind="photon_key_signal_activate">LMB</kbd> + <kbd data-bind="photon_key_signal_left">A</kbd></li>
			<li>Right: <kbd data-bind="photon_key_signal_activate">LMB</kbd> + <kbd data-bind="photon_key_signal_right">D</kbd></li>
			<li>Hazards: <kbd data-bind="photon_key_signal_activate">LMB</kbd> + <kbd data-bind="photon_key_signal_hazard">S</kbd></li>
		</ul>
	</li>
	<li><strong>Select Siren Tone</strong>
		<ul>
			<li><kbd data-bind="photon_key_siren1">1</kbd>, <kbd data-bind="photon_key_siren2">2</kbd>, <kbd data-bind="photon_key_siren3">3</kbd>, <kbd data-bind="photon_key_siren4">4</kbd></li>
			<li><em>Select the given siren tone.</em></li>
		</ul>
	</li>
	<li><strong>Toggle Radar HUD</strong>
		<ul>
			<li><kbd data-bind="photon_key_radar">O</kbd></li>
		</ul>
	</li>
</ul>
<h2>Help</h2>
<h3>
	Does Photon support gamemodes like DarkRP?
</h3>
<p>
	<strong>Yes.</strong> While it originally required some code or specialized spawning systems, Photon versions 20 and up will natively integrate into any gamemodes.
</p>
<h3>
	How can I add Photon to my server?
</h3>
<p>
	Photon can either be added via your server's Workshop collection, or you can keep an updated, extracted version, and just do resource.AddWorkshop() to download for clients.
	If you wish to add custom or unofficial Photon vehicles to your server, you must add them separately, along with any other requirements.
</p>
<h3>
	Will Photon be added to _____ car?
</h3>
<p>
	Yes. Photon, however, is still in beta, meaning some fundamental parts of the addon need refinement before the majority of work goes into supporting more cars.
</p>
<h3>
	Can I request a certain police car or x-car be added?
</h3>
<p>
	Yes, the cars being added are largely due to community request.
</p>
