---
---

@import "updates.scss";

html, body {
	width: 100%;
	height: 100%;
	margin: 0;
	padding: 0;
	background: transparent;
	overflow: hidden;
}

.panel {
	margin: auto;
	width: 98%;
	height: 98%;
	border-radius: 4px;
	box-shadow: 0 1px 3px rgba(0, 0, 0, 0.5);
	background: white;
	background-clip: content-box;
	z-index: 0;
}

header {
	height: 64px;
	width: 100%;
	display: block;
	background: #1b1b19;
	position: relative;
	z-index: 1;
}

h1 {
	font-family: 'proxima-nova-soft';
	font-weight: normal;
	color: white;
	display: inline-block;
	margin: 0;
	padding: 0;
	padding-top: 12px;
	width: 200px;
	text-align: center;
}

h2 {
	font-family: 'bebas_neue_regularregular';
	font-weight: normal;
	color: #ff3c3c;
	text-transform: uppercase;
	margin: 0;
	padding: 4px 16px 0 16px;
	font-size: 38px;
}

h3 {
	font-family: 'bebas_neue_regularregular';
	text-transform: uppercase;
	color: #4d4d4d;
	display: block;
	border-bottom: 1px solid #e1e1e1;
	font-weight: normal;
	padding: 0 16px 12px 16px;
	font-size: 24px;
}

h4 {
	font-family: 'bebas_neue_regularregular';
	text-transform: uppercase;
	color: #9ba9b9;
	display: block;
	font-weight: normal;
	padding: 0 16px;
}

a:link, a:active, a:visited {
	color: #e63333;
	text-decoration: none;
}

.close-button {
	width: 96px;
	height: 64px;
	position: absolute;
	top: 0;
	right: 0;
	line-height: 64px;
	vertical-align: middle;
	font-family: 'Roboto', sans-serif;
	color: white;
	cursor: pointer;
}

.close-button:hover {
	text-shadow: 0 1px 3px rgba(0, 0, 0, 0.25);
}

.content {
	overflow: hidden;
	height: 100%;
	margin-top: -64px;
}

.sidebar {
	width: 200px;
	float: left;
	margin: 0;
	padding: 0;
	height: 100%;
	list-style: none;
	border-right: 1px solid #1b1b19;
	overflow: hidden;
	background-color: #20201e;
}

.sidebar li {
	padding: 0 16px;
	font-family: 'bebas_neue_regularregular';
	line-height: 48px;
	vertical-align: middle;
	height: 48px;
	color: #ff3c3c;
	text-transform: uppercase;
	font-size: 20px;
	box-shadow: 1px 0 0 rgba(255, 209, 204, 0) inset;
	-webkit-transition: box-shadow .1s linear;
}

.sidebar li:first-child {
	margin-top: 64px;
}

.sidebar li:hover {
	box-shadow: 200px 0 0 #363636 inset;
	cursor: pointer;
}

.sidebar li.active {
	color: white;
	background: #1b1b19;
}

.sidebar li.active:hover {
	box-shadow: none;
}

.container {
	display: block;
	width: auto;
	padding: 0;
	margin: 0;
	margin-top: 64px;
	overflow: hidden;
	height: 100%;
	overflow-y: auto;
	background-color: #ededed;
}

.page {
	padding: 16px;
	overflow-y: auto;
	height: 100%;
	box-sizing: border-box;
	margin-right: 4px;
	margin-top: 4px;
}

.page p {
	font-family: 'Roboto', sans-serif;
	color: #767676;
	padding: 0 16px;
	font-size: 14px;
}

.page li {
	font-family: 'Roboto', sans-serif;
	margin: 4px;
	color: #767676;
	font-size: 14px;
}

.page::-webkit-scrollbar {
	width: 8px;
}

.page::--webkit-scrollbar-track {
	background: transparent;
}

.page::-webkit-scrollbar-thumb {
	border-radius: 1px;
	background: rgba(0, 0, 0, 0.15);
}

code {
	color: #FFF;
	background-color: #272822;
	display: inline-block;
}

code #two {
	color: #f92672;
}

code #three {
	color: #ae81ff;
}

code #four {
	color: #e6db74;
}

#pad {
	padding: 15px;
	border: solid 1px #000;
}