---
---

h1 {
	color: red;
	font-size: 12px;
}

home {
	height: 100%
}

@mixin vertical-align {
	position: relative;
	top: 50%;
	-webkit-transform: translateY(-50%);
	-ms-transform: translateY(-50%);
	transform: translateY(-50%);
}

body, html {
	width: 100%;
	height: 100%;
}

header {
	height: 100%;
	.home {
		height: 100%;
		.feature {
			@include vertical-align;
		}
	}
}
